body {
  background-color: #141414 !important;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff !important;
  margin: 0;
}

.container-general {
  margin-top: 58px;
  padding: 0 !important;
}

.banner {
  opacity: .8;
}

.text-gray {
  color: #ffffff8c;
}

/* BUSQUEDA */
.modal-busqueda .modal-content {
  background-color: #141414;
  color: #ffffff;
}

.modal-busqueda .modal-header {
  border: none;
}

.modal-busqueda .btn-close {
  background-color: #ffffff;
}