body {
  background-color: #141414 !important;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff !important;
  margin: 0;
}

.container-general {
  margin-top: 58px;
  padding: 0 !important;
}

.banner {
  opacity: .8;
}
